:root {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  padding: 0;
  margin: 0;
}

.app {
  background-color: beige;
}

body {
  background-color: beige;
}

.container {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.infos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}